<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>HBNB</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
</head>
<body>
    <header>
        <!-- Header content -->
    </header>
    <div class="filters">
        <h3>Amenities</h3>
        <ul>
            <li>
                <input type="checkbox" data-id="1" data-name="WiFi"> WiFi
            </li>
            <li>
                <input type="checkbox" data-id="2" data-name="Pool"> Pool
            </li>
            <li>
                <input type="checkbox" data-id="3" data-name="Pets"> Pets
            </li>
            <!-- Add more amenities as needed -->
        </ul>
        <div class="amenities">
            <h4>Amenities</h4>
        </div>
    </div>
    <main>
        <!-- Main content -->
    </main>
</body>
</html>
